<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.wifi.resources.overlay.target">

    <overlay
        android:isStatic="true"
        android:priority="500"
        android:requiredSystemPropertyName="ro.boot.product.vendor.sku"
        android:requiredSystemPropertyValue="cape"
        android:targetName="WifiCustomization"
        android:targetPackage="com.android.wifi.resources" />
</manifest>
